header {
  max-width: 1170px;
  padding: 26px 135px 0 135px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

nav li {
  list-style: none;
  display: inline;
  margin: 0 15px;
}

nav li a {
  color: var(--purple);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
nav li a:hover {
  color: #4b3c97;
}

.hamburguer {
  background-color: transparent;
  border: 0;
  color: #5342a5;
  cursor: pointer;
  font-size: 20px;
  display: none;
}

.hamburguer:focus {
  outline: none;
  color: #403381;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background: rgba(64, 51, 129, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #4b3c97;
  display: block;
  transition: 0.3s;
}

.sidenav a:focus{
  color:#342968;
  background-color: rgba(123, 101, 235, 0.25);
}

@media screen and (max-width: 968px) {
  header {
    display: flex;
    flex-direction: row;
    padding-top: 26px;
  }

  nav li {
    display: none;
  }
  nav li a {
    color: #51449b;
  }

  .hamburguer {
    display: block;
  }
}

@media screen and (max-width: 532px) {
  header {
    display: flex;
    flex-direction: row;
    padding: 26px 50px 10px 50px;
    margin: 0 auto;
  }
}
